@use "hub" as *;

footer {
  @include display();
  margin-top: 5rem;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  height: 50%;
  background-color: var(--secondary-darken);
  gap: 0.5rem;
}

//테블릿 버전
@include tablet {
}

//데스크탑 버전
@include desktop {
}
