@use "hub" as *;

.keywords {
  width: 100%;
  height: 70vh;
  @include display();
  gap: 5rem;
  h2 {
    font-size: 2rem;
  }
  .keywords-wrap {
    width: 100%;
    @include display();
    gap: 1.5rem;
    p {
      @include btn-style();
      font-size: 1.7rem;
      color: var(--black-text);
      i {
        color: var(--light-text);
      }
    }
  }
  .introduction {
    box-shadow: var(--shadow);
    width: 100%;
    background-color: var(--point-bg);
    font-size: 1.2rem;
    padding: 2rem;
  }
}

//테블릿 버전
@include tablet {
  .keywords {
    width: 70%;
    height: 60vh;
    @include display();
    align-items: flex-start;
    gap: 10rem;
    h2 {
      font-size: 3rem;
    }
    .keywords-wrap {
      width: 100%;
      @include display(row, space-around);
      p {
        @include btn-style();
        font-size: 1.7rem;
        color: var(--black-text);
        i {
          color: var(--light-text);
        }
      }
    }
    .introduction {
      box-shadow: var(--shadow);
      width: 100%;
      background-color: var(--point-bg);
      font-size: 1.5rem;
      padding: 3rem;
    }
  }
}

//데스크탑 버전
@include desktop {
  .keywords {
    width: 60%;
    h2 {
      font-size: 3.5rem;
    }
    .keywords-wrap {
      p {
        font-size: 2rem;
      }
    }
    .introduction {
         font-size: 2rem;
    }
  }
}
