//버튼 등 공용 믹스인


@mixin btn-style($color:var(--light-text)){
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  background-color: var(--tertiary-color);
  color: $color;
  font-size: 2rem;
  &:hover {
    background-color: var(--tertiary-darken);
  }
}